$color-primary:#688E26;
$color-gradient:#243E36;
$color-secondary:#E0EEC6;
$text-color:#333333;
$title-color:#1d1d1d;
$card-width:450px;
$card-height:450px;
$card-border-radius:20px;
$border-color-1:#fff;
$call-border-1: #1C766E;
$title-bg:#1C766E21;
$color-contact:#005201;
$btn-border-radius:5px;
// -----------------BREAKPOINTS--------------
$breakpoints: ( mobile: 767px, tablets:768px);